@font-face {
    font-family: Roboto-Black;
    src: url(./Roboto/Roboto/Roboto-Black.ttf) format("truetype");
    font-weight: normal;
}

.header {
    background-color: #1f2937;
    color: #ffffff;
    padding: 140px;
}

.menu {
    width: 25%;
    float: right;
    margin-bottom: 100px;
    color: white;
}

* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box};
* {
    border-style: 20px solid white;
}
.box {
    image-orientation: from-image;
    image-rendering: optimizeQuality;
    border-image-width: 10px;
}

.box1 { 
    image-rendering: auto;
        border-image: space;
        nav-right: auto;
    }
.box2 { image-rendering: auto;
    border-image: space;
    nav-right: auto;
    }
.box3 { image-rendering: auto;
    border-image: space;
    nav-right: auto;
}
.box4 { 
    image-rendering: auto;
    border-image: space;
    nav-right: auto;
}

.flex-container {
    align-content: space-around(0,5,0);
    image-rendering:auto;
    display: flex;
}

::-webkit-textfield-decoration-container

* {
    font-family: 'Roboto-Black', Courier, monospace, sans-serif;
    font-size: 30px;
    background-color: beige;
}
h5 {
    font-family: sans-serif;
    font-size: 20px;
    color:blue;
    background-color: gray;
}
h3 {
    font-family: monospace, sans-serif;
    color: blueviolet;
}
.footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}