@font-face {
    font-family: Roboto-Black;
    src: url(./Roboto/Roboto/Roboto-Black.ttf);
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.box {
    color:white;
    border-radius: 60px;
    font-size: 100px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding: 100px;
}

.box1 { background-color: black;}
.box2 { background-color: black;}
.box3 { background-color: black;}
.box4 { background-color: black;}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 150px;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: beige;
}
h5 {
    font-family: sans-serif;
    font-size: 20px;
    color:blue;
}
h3 {
    font-family: "Roboto-Black";
    color: blueviolet;
}